$blue:#708C87;
$margin:5%;
$cream:#F2EFEB;
$cream2:$cream - 100;
body { background:#262626;
  h1{color:$blue;}
  h2{color:$blue; margin:10px $margin + 5%;}
}
header { margin:20px 0 0 $margin;}
p{margin: 20px $margin;}

.grad{ padding: 1%;
  background-color: $cream;
  background-image: -webkit-gradient(linear, left top, left bottom, from($cream), to($cream2) );
  background-image: -webkit-linear-gradient(top,$cream,$cream2);
  background-image: -moz-linear-gradient(top,$cream,$cream2);
  background-image: -ms-linear-gradient(top,$cream,$cream2);
  background-image: -o-linear-gradient(top,$cream,$cream2);

 .par1{
   color: red;
   a{
     font-size: 20px;
   }
 }
}
